.root {
    -fx-base: rgb(132, 145, 47);
}

.sidePanel{
     -fx-alignment: center;
     -fx-spacing: 10;
     -fx-background-image: url("../images/background.jpg");
 }

.homeScreen{
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-image: url("../images/background1.jpg");
    -fx-background-repeat: stretch;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: "Verdana";
}

.homeScreenButton {
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
}

.sidePanelButton {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
}

.boardView{
     -fx-background-image: url("../images/wood.jpg");
 }